body {
    min-width: 500px;
    margin: 0 0 0 0;
}

div.topbar {
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: white;
}

div.topbar-content {
    display: table-cell;
    vertical-align: middle;
    font-size: 30;
    font-weight: bold;
    border-bottom: 0.5px solid lightgrey;
}

div.topbar-icon {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    padding-left: 30px;
    border-bottom: 0.5px solid lightgrey;
}

div.main-content {
    margin-top: 95px;
}

div.section-wrapper {
    margin: 20px 0px 20px 0px;
}

div.header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28;
    font-weight: 500;
    margin: 0px 30px 0px 30px;
}

div.card {
    margin: 10px 0px 10px 0px;
    padding: 3px 0px 5px 0px;
}

div.card:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

div.content-header {
    font-size: 22;
    font-weight: 500;
    display: flex;
    margin: 10px 30px 10px 30px;
}

div.content-subheader {
    font-size: 14;
    font-weight: normal;
    color: grey;
    padding-top: 1px;
    align-self: center;
    padding-left: 20px;
}

div.content-item {
    border-left: 1px solid black;
    padding-left: 5%;
    margin: 20px 30px 20px 30px;
    line-height: 1.6;
    font-size: 16;
}

div.content-item:empty {
    border-left: 0px;
}

::-webkit-scrollbar {
    display: none;
}

.skeleton-loader:empty {
    width: 80%;
    height: 15px;
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
      ),
      lightgray;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
  }

@keyframes shine {
    to {
        background-position: 100% 0,
            0 0;
    }
}